body {
  margin: 0;
  background: black;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

video,
img {
  border-radius: 10px;
  overflow: hidden;
  height: 512px;
  width: 512px;
  object-fit: cover;
}

img {
  transform: scaleX(-1);
}

button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  background: white;
  color: black;
  border: none;
  border-radius: 3px;

  &:not(:disabled):hover {
    cursor: pointer;
    background: #d4d4d4;
  }

  &:disabled {
    opacity: 0.5;
  }
}
