.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview {
  position: fixed;
  list-style: none;
  left: 40px;
  top: 40px;
  z-index: 2;
  pointer-events: all;
  width: 15%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: width 0.2s ease-in-out;
  border-radius: 10px;

  &:hover {
    width: 25%;
  }
}

.content {
  position: relative;
  height: 512px;
  width: 512px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  button {
    position: relative;
    padding: 15px 20px;
    background: white;
    color: black;
    border: none;
    border-radius: 3px;

    &:not(:disabled):hover {
      cursor: pointer;
      background: #d4d4d4;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.screenshot,
.generated {
  position: absolute;
  height: 100%;
  object-fit: cover;
}
